@font-face {
    font-family: "Amstrad CPC464 Regular";
    src: url("../webfonts/amstrad_cpc464.eot?") format("eot"), url("../webfonts/amstrad_cpc464.woff") format("woff"), url("../webfonts/amstrad_cpc464.ttf") format("truetype"), url("../webfonts/amstrad_cpc464.svg#Amstrad-CPC464") format("svg");
    font-weight: normal;
    font-style: normal;
}
* {
  background-color: #000080;
  font-family: "Amstrad CPC464 Regular";
  font-size: 1.6vw; 
}
body {
    padding: 50px;
}
a {
    position: relative;
    background-color: #000080;
    text-decoration: none;
    color:#FFFF00;
    line-height: 150%;
}
pre {
  color:#FFFF00;
  font-weight: bold;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;

}


.cursor {
  position: absolute;
  top: -0.001;
  bottom: 0;
  right: 0;
  left: 0.5;
  height: 110%;
  width: 100%;
  background: #000080;
  box-sizing: border-box;


  -webkit-box-sizing: border-box;
  border-left: .55em solid;

  -webkit-animation: typing 3s steps(13, end) infinite,
    blinking 0.8s step-end infinite;
  animation: typing 3s steps(13, end) infinite,
    blinking 0.8s step-end infinite;
}

@-webkit-keyframes typing {

  from,
  to {
    width: 100%;
  }

  25% {
    width: 0;
  }

  50% {
    width: 0;
  }

  75% {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@-webkit-keyframes blinking {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #FFFF00;
  }
}

@keyframes blinking {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #FFFF00;
  }
}
